@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/real-miami');
/* font-family: 'Miami', sans-serif; */

* {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

/* background: linear-gradient(180.00deg, rgb(0, 0, 0), rgba(86, 86, 86, 0.2) 100%), linear-gradient(0deg, rgb(0, 0, 0), rgba(86, 86, 86, 0.2) 100%); */

body {
    margin: 0;
    padding: 0;
}

/* Shared styles */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hide {
    display: none;
}



/* header related styles */

header {
    width: 100%;
    background: linear-gradient(0deg, rgb(17, 17, 17), rgba(0, 0, 0, 0.416) 100%), linear-gradient(180.00deg, rgb(17, 17, 17), rgba(0, 0, 0, 0.416) 100%);
}


.area,
.section-3,
.section-4 {
    width: 80%;
    margin: 0 auto;
}


main,
.section-6 {
    background: rgb(0, 0, 0);
}


.header {
    max-width: 80%;
    /* margin: 0px auto; */
    padding-top: 37px;
}

.nav {
    justify-content: space-around;
    align-items: center;
    column-gap: 53.8%;
}

.menu {
    display: none;
}

.navbar {
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 3px;
}

.nav-items {
    list-style: none;
    padding: 9px 20px;

}

.item-1 {
    background-color: rgb(232, 91, 66);
    border-radius: 20px;
}

.item-1 a {
    font-weight: 600;
}

.nav-links {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.2px;
}

.web-title {
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 31.7px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

/* Banner section */

.banner {
    align-items: center;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px 0 0;
    padding: 0;
    width: 69.2%;
}

.shape {
    font-weight: 400;
    font-family: 'Real Miami', sans-serif;
}

.banner-detail {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    width: 69.2%;
}

.btn-primary {
    border-radius: 42px;
    background: #E6533C;
    padding: 14px 37px 14px 37px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 10px;
}

.btn-second {
    background: transparent;
    padding: 14px 37px 14px 37px;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);

}

.box-1 {
    position: absolute;
    top: 46%;
    right: 6%;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 21px;
    padding-right: 21px;


    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
}

.box-1-title {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    margin: 0;

}

.box-1-detail {
    color: rgba(255, 255, 255, 0.65);
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}


.box-2 {
    position: absolute;
    top: 94.5%;
    right: 30.6%;
    padding: 18px 20px;
    align-items: center;
    gap: 7px;


    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
}

.box-2-title {
    color: rgb(250, 250, 249);
    font-size: 21px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin: 0;
}

.box-2-detail {
    color: rgba(239, 237, 232, 0.65);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: left;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 0px;
}

.circle {
    background: rgb(230, 83, 60);
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.circle img {
    display: none;
}

/* section 3 related styles */
.section-3 {
    margin-bottom: 100px;
}

.sec-3-box-1 {
    padding-top: 80px;
}

.sec-3-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    width: 100%;
    padding-bottom: 14px;
}

.sec-3-detail {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.77rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin: 0 0 50px 200px;
    width: 590px;

}

.cards {
    justify-content: flex-start;
}

.card-title {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin: 6px 68px 0px 0px;
}

.card-detail {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    margin: 6px 0px 0px 0px;
    width: 75%;
}

.card-circle {
    background: #222222;
    border-radius: 50%;
    width: 191px;
}

.card-circle img {
    border-radius: 48%;
    padding: 5px 4px 0px 5px;
}

/* section 4 related style */
.sec-4-container {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 28px 29px 47px;
    justify-content: space-between;
}

.sec-4-box-1 {
    width: 390px;

}

.sec-4-title {
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: left;
    margin: 0;
}

.sec-4-detail {
    margin: 14px 0px 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.78rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    width: 100%;
}

.sec-4-box-2 {
    width: 360px;
    height: 312px;
    background: url(./B10A2/images/run.jpg);
    background-position-x: 725px;
    background-position-y: 780px;
    border-radius: 18px;
}

.sec-4-btn {
    padding: 15px 60px 15px 60px;
    margin-top: 34px;
    border-radius: 42px;
}

/* section 5 related styles */
.section-5 {
    width: 80%;
    margin: 0 auto;
}

.sec-5-title {
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 90px 0 13px 0;
}

.sec-5-detail {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin: 0px 0 50px 0;
    width: 504px;
}

.section-5 {
    display: none;
}

/* section 6 related styles */
.section-6 {
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;

}

.section-6-container {
    width: 100%;
    background: rgb(34, 34, 34);
}

.sec-6-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.7rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    width: 312px;
    margin: 0px 338px;
    text-align: left;
}

.sec-6-detail {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.77rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    width: 553px;
    margin: 0 338px 80px;
}

.sec-6-bmi {
    gap: 30px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.table-title {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}

th {
    color: rgb(255, 255, 255);
    font-size: 12.3px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

td,
th {
    font-size: 12.3px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px;
    text-align: left;
}

.form-title {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 13px;
}

.form-detail {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
}

.form {
    width: 510px;
    padding: 0;
}

input,
select {
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    padding: 2% 6%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    margin-right: 4px;
}

select {
    text-align: left;
    padding: 14px 133px 14px 30px;
    opacity: 0.6;
    color: #999;
}

.bmi-button {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    margin-top: 32px;
    padding: 3% 13%;
}

/* section 7 related styles */
.section-7,
.section-8 {
    background: rgb(0, 0, 0);
}

.section-8 {
    padding-bottom: 100px;
}

.sec-7-title {
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 12px;
}

.sec-7-detail {
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
}

#photo {
    width: 72%;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    gap: 16px;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
}

.photos,
.photos-2 {
    grid-template-columns: repeat(3, 290px);
    gap: 16px;
}

.cont-1,
.cont-2,
.cont-3,
.cont-4,
.cont-5,
.cont-6 {
    width: 290px;
    height: 240px;
    position: relative;

}

.cont-1 img,
.cont-2 img,
.cont-3 img,
.cont-4 img,
.cont-5 img,
.cont-6 img {
    width: 290px;
    height: 240px;
    border-radius: 18px;

}


.about {
    position: absolute;
    top: 195px;
    left: 15px;

}

.name {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: white;
    margin-bottom: 3px;
}

.profession {
    font-size: 10px;
    color: #b9b9b9;
    margin: 0;
}

/* Section 8 styles */
.container {
    width: 75%;
    margin: 0 auto;
    justify-content: space-around;

}

.con-1 {
    background: linear-gradient(270deg, rgb(17 17 17 / 12%), rgb(0 0 0 / 1%) 100%), rgb(230, 83, 60);
    width: 40%;
    padding: 30px;
    border-radius: 18px;
    color: azure;

}

.sec-8-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    width: 24%;
    margin: 0 auto;
    padding-top: 60px;
}

.sec-8-detail {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    width: 100%;
    margin: 25px auto;
}

.con-1-title {
    align-items: center;
    justify-content: space-between;
}

.best-value {
    /* filter: ; */
    background: rgb(236, 236, 72);
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
}

.con-1-start {
    font-size: 17px;
    font-weight: 500;
}

.money {
    font-size: 40px;
}

.mo {
    font-size: 16px;
}

.buttons {
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}

.btn-third {
    color: azure;
    background: #1c1c1c;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 32px;
}

.btn-forth {
    color: azure;
    font-size: 20px;
    font-weight: 700;
}

.con-2 {
    background: rgb(34, 34, 34);
}

.fifth {
    background: #545454;
}

.section-9 {
    background: rgb(34, 34, 34);
    padding-top: 70px;

}

/* hr{
background-color: rgba(255, 255, 255, 0.1)
} */
.sec-9-boxes {
    width: 75%;
    margin: 0 auto;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
}

.sec-9-box-1-title {
    color: rgb(230, 83, 60);
    font-size: 60px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sec-9-box-1-detail {
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: left;
    
}

.items {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding: 6px 0px;
}

.sec-9-box-2-title {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 40px;
}

.footer {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    width: 170px;
    margin: 0 auto;
    padding: 20px 0px;
}

hr {

    width: 75%;
    margin: 0 auto;
    background: linear-gradient(0deg, rgb(17, 17, 17), rgba(0, 0, 0, 0.416) 100%), rgba(255, 255, 255, 0.1);
}
#activity{
    padding: 14px 276px 14px 30px;
}

















/* Media Query */
@media screen and (max-width:576px) {
    .header {
        max-width: 100%;
        padding-top: 20px;
    }

    .menu {
        display: block;


    }

    .menu img {
        filter: invert(1);
        width: 21px;
        height: 21px;
    }

    .web-title {
        font-size: 36px;
    }

    .area {
        width: 90%;
    }

    .nav {
        padding-right: 0px;
        column-gap: 58%;
    }


    .navbar {
        display: none;
    }

    .banner {
        flex-direction: column;
    }

    .banner-title {
        font-size: 36px;
        font-weight: 900;
        line-height: 120%;
    }

    .banner-detail {
        font-size: 16px;
        font-weight: 400;
        width: 79%;
    }

    .buttons {
        display: flex;
        align-items: center;
    }

    .btn-primary {
        padding: 16px 25px 16px 25px;
        width: 100%;
        text-align: center;
    }

    .btn-second {
        padding: 16px 20px 16px 20px;
        width: 100%;
        text-align: center;
    }

    .club {
        display: none;
    }

    .image-box {
        position: relative;
    }

    .box-1 {
        top: 7%;
        left: 57%;
        right: 2%;
        padding: 11px 13px 10px 17px;
    }

    .box-1-title {
        font-size: 30px;
        font-weight: 900;
    }

    .box-1-detail {
        font-size: 9px;
        font-weight: 400;
        margin: -1px;
        width: 100%;
    }

    .box-2 {
        top: 45.5%;
        right: 51.8%;
        padding: 16px 17px;
    }

    .box-2-title {
        font-size: 18.14px;
        font-weight: 900;
    }

    .box-2-detail {
        font-size: 12.1px;
        font-weight: 400;
        line-height: 18.14px;
        letter-spacing: 0.38px;
        margin: 0;
        width: 100%;
    }

    .circle {
        position: relative;

    }

    .circle img {
        display: inline;
        position: absolute;
        top: 15%;
        left: 7%;
        width: 25px;
        height: 25px;
        transform: rotate(270deg);
        filter: invert(1);
    }

    .cards {
        flex-direction: column;
        justify-content: center;
    }

    .card-title {
        margin-right: 0px;
        margin-top: 30px;
        margin-bottom: 6px;
    }

    .card-detail {
        width: 200px !important;
        margin: 0 auto !important;
    }

    .sec-3-card {
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .sec-3-detail {
        margin: 0 auto;
        width: 288px;
        font-size: 0.77rem;
        font-weight: 400;
        line-height: 23px;
        padding-bottom: 10px;
    }

    .sec-3-title {
        font-size: 28px;
        font-weight: 900;
        width: 100%;
    }

    .sec-3-box-1 {
        padding-top: 5px;
    }

    .sec-4-container {
        flex-direction: column;
        padding: 30px 18px;
        row-gap: 30px;
    }

    .sec-4-box-1 {
        width: 268px;
        margin: 0 auto;
    }

    .sec-4-title {
        font-size: 1.9rem;
        font-weight: 900;
        line-height: 120%;
        width: 200px;
    }

    .sec-4-detail {
        font-size: 0.77rem;
        font-weight: 400;
        line-height: 24px;
        width: 250px;
    }

    .sec-4-btn {
        width: 245px;
        padding: 16px 40px;
    }

    .sec-4-box-2 {
        width: 245px;
        height: 161px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: initial;
        border-radius: 18px;
        margin: 0 auto;
    }

    .section-3 {
        margin-bottom: 0px;
    }

    .section-6 {
        padding-top: 50px;
    }

    .sec-6-bmi {
        flex-direction: column;
    }

    .sec-6-title {
        margin-left: 20px;
        font-size: 30px;
        width: 90%;
    }

    .sec-6-detail {
        margin-left: 20px;
        width: 289px;
        margin-bottom: 30px;
    }

    .table-title {
        margin-left: -20px;
        font-size: 16px;
        width: 100%;
    }

    table {
        margin-left: -20px;
        width: 300px;
        height: 216px;
    }

    th,
    td {
        font-size: 14px;
    }

    .form-title {
        margin-left: -20px;
        font-size: 16px;
    }

    .form-detail {
        margin-left: -20px;
        font-size: 14px;
        width: 289px;
    }

    form {
        margin-left: -20px;

    }

    .form {
        width: 106%;
    }

    input,
    select {
        padding: 12px 0px 12px 10px;
        width: 43%;
    }

    select {
        padding: 14px 19% 14px 2%;
        width: 46%;
    }

    #activity {
        padding: 14px 36% 14px 2%;
        width: 94%;
    }

    .bmi-button {
        font-size: 14px;
        padding: 16px 40px;
        width: 224px;
    }

    #photo,
    .photos,
    .photos-2 {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .sec-7-detail {
        width: 98%;
    }

    .container {
        flex-direction: column;
        gap: 29px;
    }

    .con-1 {
        width: 85%;
    }

    .btn-third,
    .fifth {
        padding: 15px 22px;
    }

    .btn-forth,
    .sixth {
        font-size: 19px;
    }

    .sec-8-title {
        font-size: 45px;
        font-weight: 800;
        padding-bottom: 20px;
    }

    .sec-9-boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .sec-9-box-1-title {
        font-size: 50px;
        line-height: 120%;
        margin-left: -20px;
    }

    .sec-9-box-1-detail {
        width: 243px;
        margin-left: -20px;
    }
    .sec-9-boxes{
        gap: 30px;
    }

    .sec-9-box-1-title {
        padding: 0px;
        font-size: 60px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        margin-left: -20px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .items {
        font-size: 17px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }

    .menu-1 {
        padding: 0px;
        margin-left: -20px;
    }
    .sec-9-box-2-title{
        padding-left: 0px;
        margin-left: -20px;
    }

    hr{
        width: 90%;

    }

}
@media screen and (min-width:576px) and (max-width:992px) {}